APP_NAME=012MinimumViableProduct
APP_ENV=local
APP_URL=http://localhost/newphp1/Php_Tasks/012MinimumViableProduct/public

DB_HOST=localhost
DB_NAME=012_mvp
DB_USER=root
DB_PASS=

AES_KEY=974c605c59c65e7dbcd14661b5b14734


JWT_SECRET=mvp012_jwt_super_secret_key
JWT_ACCESS_EXPIRE=900
JWT_REFRESH_EXPIRE=604800